# Global
port=8000
host="localhost"


# Database
db_user="postgres"
db_password="postgres"
db_host="localhost"
db_port=5432
db_name="online_store"


# Auth
auth_algorithm="RS256"
auth_access_token_expire_minutes=60

# Redis
redis_host="localhost"
redis_port=6379